/* Estilos globales */

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F5F5F5;
  color: #333;
  margin: 0;
  padding: 0;
}
a {
  color: #d55d56;
  text-decoration: none;
}
a:hover {
  color: #000;
}
